@import "../css/reset.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%;}

body {font-family: 'Poppins', sans-serif; font-size:12px; line-height:19px; color:#6a6a73; min-width:960px;
   background: #fffc00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top #ffffff 65%, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, rgb(255, 0, 0, 0.76), rgb(0, 0, 0), rgb(0, 128, 0, 0.76) ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   ;padding:59px 0 0;}
.main {width:960px;padding:0;margin:0 auto;}

/*********************************fonts*************************************/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.align_right {text-align:right}
.align_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*********************************CLASSES**********************************/
.m_bottom_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bottom_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {width:100%;overflow:hidden}
.extra_wrapper{ overflow:hidden;}
.container{width:100%}
.extra_last, .last{ margin-bottom:0 !important; padding-bottom:0 !important;}
.extra_last{ border:none !important; background:none !important;}
.bg_none{ background:none !important;}
.bd_none{border:none !important;}
/*==================================== Links ======================================================== */
a {color:black;outline:none; text-decoration:none; cursor:pointer;}
a:hover, .demo:hover{ color:#fff; text-decoration:none;}

.button1{ display:inline-block; padding:3px 10px 4px; border-radius:2px; margin: 0 0 0; font-size: 12px; color:#fff; background: url('../images/button1.png') repeat-x #2f2f2f;}
.button1:hover{ background:#676a66;}

.button2{ display:inline-block; padding:9px 25px 11px; border-radius:5px; margin: 0 0 0; font-size: 15px; color:#fff;background: red;}
.button2:hover{ background:green;}

.button3{ display:inline-block; padding:5px 16px 5px; border-radius:3px; margin: 27px 0 0; font-size: 12px; color:#fff; background: url('../images/button3.png') 0 -35px repeat-x #2f2f2f; box-shadow: inset 0 1px #525252;}
.button3:hover{background-position:0 0; box-shadow: inset 0 1px #c9e703;background-color:#81b504;}

.demo{color:#84b904;}
/*********************************Displays*************************************/
.block{ display:block;}
.inline-block{ display:inline-block;}

/*********************************header*************************************/

header {margin-bottom: 555px;}
   /* .top{background:#1e1e1f;border-radius:5px 5px 0 0;border-bottom:1px solid #404042;} */
      .login{float:right;padding: 13px 21px 0 0;}
      .login a{font-size: 1em; color: #fff; font-weight:bold;}
      .login a:hover{color:#8cc503;}
   .middle{margin-bottom: 20px; overflow: hidden;background: rgb(255, 255, 255);padding: 26px 24px 30px 37px; border-radius: 20px;}
   .middle .h_banner{background: url('../images/heabanner.jpg') no-repeat;display:block;width:466px;float:right;padding-top:20px;height:38px;border:1px solid #38383c;text-align:center;font-size: 17px; color: #555557;}
header h1{width:123px; margin-left:15%;padding-top:10px; float:left;}
header h1 a {display:block;width:100%;height:41px;background:url(../images/logo.png) 0 0 no-repeat; text-decoration:none; text-indent:-9999px;}

#search{float:right;padding:14px 15px 0 0;}
#search input{background:#e1e1e1;border-bottom:1px solid #f5f5f5;font-family: 'Poppins', sans-serif;border-left:1px solid #dcdcdc;border-top:1px solid #b3b3b3;border-right:1px solid #dcdcdc;border-radius:3px;width:198px;font-size: 12px; color: #2f2f2f;padding: 5px 10px 4px;height:15px;}
#search a{margin-left:2px;}
/*********************************content*************************************/
#content {padding:20px 0px 37px 0px;}
.cont_pad{padding:0px 0 37px 0 !important;}

/*================================>> aside <<========================================*/
aside{margin-bottom:36px;}
/*===============================>> Paragraphs <<=============================*/

p {margin-bottom:19px}
.p2{ margin-bottom:11px;}
.p3{ margin-bottom:15px;}
.p4{ margin-bottom:22px;}
/*================================>> LISTS <<========================================*/
.list1{}
.list1 li{border-bottom:1px solid #2e2e30;padding-bottom:16px;margin-bottom:20px;}
.list1 a{font-size: 14px; line-height: 19px; color: #fff;}
.list1 a:hover{color:#81b504;}
.list_ind{margin-bottom:3px;}


/*================================>> H <<========================================*/
h2,h3,h4, h5{ font-weight:normal;}
h2{font-size: 17px; line-height: 23px; color:#fff;background: url('../images/h2_bg.png') repeat-x #2b2b2d;padding: 11px 20px 13px; box-shadow: 0 5px 5px #212122;}
h2.first{border-radius:5px 5px 0 0;}
h2.first{padding:10px;}

h3{font-size: 12px; line-height: 19px; color:#8cc503;text-transform:none !important;}
h3#ind1{ margin-bottom:13px;}
h3.ind2{ margin-bottom:9px;}

h4{font-size: 14px; line-height: 19px; color: #fff;margin-bottom:12px;}

h5{font-size: 15px; line-height: 19px; color: #fff;border-bottom:1px solid #2e2e30;padding-bottom:18px;margin-bottom:15px;}
/*================================>> GOOGLE FONTS  <<========================================*/
.sf-menu>li>a , .button1, .osw, .button2, h2,h3,h4,h5,.button3,.link1, .link2, footer .menu a,.mix, .list1{font-family: 'Oswald', sans-serif;text-transform:uppercase;}
/*================================>> hovers <<========================================*/
.sf-menu>li>a, .sf-menu>li,.button3,.link1,.link2, .gamespot a, .list1 a{-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}

/*********************************page_1*************************************/
.ext_list>li, .ext_box{ overflow:hidden;}
.ext_list>li>figure, .ext_box>figure{ float:left;}
.ext_list>li>div, .ext_box>div{overflow:hidden;}

.box{background:#252526;border-radius:5px;}
.sub_box{padding: 16px 20px 17px 20px;}
.sub_box1{padding: 16px 10px 18px 20px;}
.sub_box2{padding: 16px 10px 18px 10px;}
.sub_box3{padding: 16px 10px 22px 20px;}
.sub_box4{padding: 19px 40px 22px 15px;}

.topics{}
.topics>li{border-bottom:1px solid #2e2e30;padding-bottom:21px;margin-bottom:16px;}
.topics>li>figure{margin: 4px 20px 0 0;}
.topics h4{margin-bottom:12px;}

.link1{font-size: 12px; line-height: 19px; color: #8cc503;display:inline-block;margin-top:16px;}
.link1:hover{color:#fff;}

.link2{font-size: 12px;color: #fff;display:inline-block;margin-top:12px;}
.link2:hover{color: #8cc503;}

.b_ind{margin-top:31px;}

.latest_r{padding-bottom:1px;}
.latest_r>li{border-bottom:1px solid #2e2e30;padding-bottom:14px;margin-bottom:17px;}
.reviewli>div{}
.review>figure{margin: 4px 18px 0 0;}
.latest_r .text{clear: both;padding: 16px 0 0 0;margin: 0 0 0 0px;}
.review h4{line-height:22px;margin-bottom:0;}

.video{padding: 1px 0 0 0;}
.video>li{padding-bottom:25px;}

.m_bot1{margin-bottom:20px;}
.m_bot2{margin-bottom:18px;}

.green{color:#77a50a;}

.games_list{padding-bottom:23px;}
.games_list a{color:#fff;}
.games_list a:hover{color:#77a50a;}
.games_list>li{border-bottom:1px solid #2e2e30; padding-bottom:15px;margin-bottom:16px;}
/*********************************page_2*************************************/
.mix{text-transform:none !important;}
.mix .title1{font-size: 14px; line-height: 19px; color: #fff;margin: 24px 0 5px;}
.mix .title2{color:#8cc503;}

.picks{padding:3px 10px 0 0;}
.picks h4{margin-bottom:12px;}
.picks .button3{margin-top:19px;}
.picks>li{border-bottom:1px solid #2e2e30;padding-bottom:21px;margin-bottom:18px;}
.picks>li>div{}
.picks>li>figure{margin:2px 20px 0 0;}

.headline{margin:-1px 0 15px;}
.headline h4{margin-bottom:3px;}
.headline>div{}
.headline>figure{margin: 5px 23px 0 0;}

.gamespot{margin-bottom:6px;}
.gamespot>li{border-bottom:1px solid #2e2e30;padding-bottom:17px;margin-bottom:17px;}
.gamespot h4{margin-bottom:10px;}
.gamespot a{color:#fff;}
.gamespot a:hover{color:#8cc503;}


/* Contact form */
#contact-form {padding:0px 0 0 0;}
#contact-form .success {width:246px; margin-bottom:20px; padding:10px; position:absolute;}
#contact-form textarea, #contact-form input {margin:0;font-size:14px; border:1px solid #e7e7e7; color:#969696; padding:7px 10px;outline:none; position:relative; font-family:Arial, Helvetica, sans-serif;background:#fff;}
#contact-form input {width:347px;}
#contact-form textarea {overflow:auto; width:433px; height:172px;resize:none; float:left; margin: 0 0 0 0;}	
#contact-form label {display:block; min-height:45px; overflow:hidden;}	
#contact-form label.message { display:block; padding-bottom:0; }
#contact-form .button {margin-left:8px;}	
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}	
#contact-form .error, #contact-form .empty {text-align:left; color:red; font-size:11px; clear:both;}
#contact-form .buttons2 {overflow:hidden;text-align:right; position:relative; clear:both; padding-top:25px;}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{ display:block; margin: 0px 0 0 5px;}

.map_wrapper{overflow:hidden;display:inline-block;margin-bottom:26px;}
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{ display:inline-block; width:74px;}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}

/****************************footer************************/
footer {padding:28px 0 40px;border-top:1px solid #2e2e30;margin:0px 10px 0;overflow:hidden;}
footer .menu{padding: 8px 0 0;float:left;}
footer .menu a{display:inline-block;margin: 0 17px 0 0; text-transform:uppercase;color:#6a6a73;}
footer .menu a:hover, footer .menu a.current{color:#fff;}
footer .privacy{float:right;}
footer .privacy span{display:inline-block;padding-top:10px;}

.wrapper{
   display: flex;
   justify-content: center;
}
#content h3{
   margin: 10px auto;
   padding: 5px 0;
   font-size: 1rem;
}
ion-icon{
   color: red;
   padding: 5px;
 }
#contents button, #contents2 button, #contents3 button{
   margin: 10px auto;
   padding: 8px 16px;
}
#contents button:hover, #contents2 button:hover, #contents3 button:hover{
padding:9px 25px 11px; border-radius:5px; margin: 0 0 0;color:#fff;background: red;
background:green;
}
footer{
   width: 100%;
   display: flex;
   justify-content: center;
}
footer .privacy{
   width: 100%;
   text-align: center;
}
.privacy span{
   font-size: 1.25rem;
}
/* hidden searchbar */
#search{
   display: none;
}
.sf-menu{
   display: flex;
   justify-content: center;


}
/*================================>> Menu 1 <<========================================*/
.nav{ position:relative; margin: 0px 0 0 0; padding: 12px 0 14px 21px;float:left;}
.nav .sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.nav .sf-menu ul li {width:100%}
.nav .sf-menu li {float:left;position:relative}

.nav .sf-menu>li>a{ font-size: 1rem; font-weight:bold;letter-spacing: normal; line-height: 19px; color:#fff;}
.nav .sf-menu>li>a:hover,.nav .sf-menu>li.current>a,.nav .sf-menu>li.sfHover>a{color:#fff;}

.nav .sf-menu>li{margin-right:20px;}


/*================================>> Menu 2 <<========================================*/
nav{ position:relative; margin: 0px 0 0 0;border-top:1px solid #0f9b0f;border-radius: 20px;box-shadow: 0px 5px 5px #1f1e20; margin-bottom:15px;}
nav .sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
nav .sf-menu ul li {width:100%}
nav .sf-menu li {float:left;position:relative}

nav .sf-menu>li>a{display:block;position:relative; font-size: 17px; line-height: 21px; color:#fff;text-transform:none;padding: 16px 19px 20px 20px;}
nav .sf-menu>li>a:hover,nav .sf-menu>li.current>a,nav .sf-menu>li.sfHover>a{color:#2d2d2f;}
nav .sf-menu>li.f_item{border-radius: 20px 0 0 20px;}
nav .sf-menu>li.l_item{border-radius: 0 0 5px 0;}

nav .sf-menu>li{background: url('../images/nav2_a.png') 0 -100px repeat-x;position:relative;}
nav .sf-menu>li:hover,.sf-menu>li.current,.sf-menu>li.sfHover{background-position:0 0;}
nav .sf-menu>li:after{background: black;width:2px;height:58px;display:block;position:absolute;top:-1px;right:-2px;content:"";}
nav .sf-menu a{}

/*================================>> 2 Level <<========================================*/
nav .sf-menu li ul,nav .sf-menu li.sfHover ul{left:0;top:58px;width: 161px;background:#232324;padding:0 0 0 0; z-index:99; border-radius: 0 0 5px 5px;}
nav .sf-menu li ul li{border-bottom:1px solid #323132;background: #0f9b0f;}
nav .sf-menu li ul li a{color:#fff;display:block;padding: 7px 0 8px 20px;}
nav .sf-menu li li a:hover, nav .sf-menu li.sfHover li.sfHover>a{color:#0f9b0f;}

/*================================>> 3 Level <<========================================*/
nav .sf-menu li li ul{left:162px !important;top:0px !important;}

ol, ul {
    list-style:none;
}

a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var
{
    /* background:transparent; */
    border:0 none;
    /* font-size:100%; */
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:top;
}

blockquote, q {quotes:none;}
table, table td {padding:0;border:none;border-collapse:collapse;}
img {vertical-align:top;}
embed {vertical-align:top;}
input[type=text], textarea{ outline:none;}

/* aside */
.container_12{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin:0 10px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_3{width:220px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_6 {width:460px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_9{width:700px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_12 .grid_12{width:940px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_3{padding-left:240px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_6{padding-left:480px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_9{padding-left:720px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_3{padding-right:240px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_6{padding-right:480px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_9{padding-right:720px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_3{left:240px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_6{left:480px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_9{left:720px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_3{left:-240px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_6{left:-480px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_9{left:-720px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}
* html .clearfix{height:1%}.clearfix{display:block}
/* from other pages */
.top, nav, .f_item, #search input, #search a, .box, h2, .button1, .button2, .button3{behavior:url(js/PIE.htc);position:relative;}
.sf-menu ul{behavior:url(js/PIE.htc);}


#slider{   margin-top: 40px;}
#slider .slider {width:940px;margin:0 auto; height:392px;background: url('../images/slider_bg.png') no-repeat;}
#slider .items {display:none}

#slider .pagination {position:absolute;top:353px;left:660px; z-index:999;}
#slider .pagination li {float:left;margin:0 10px 0 0;display:block;background: url('../images/pags.png') right 0 no-repeat;}
#slider .pagination li.current, #slider .pagination li:hover {background-position:0 0;}
#slider .pagination li a {width:13px;height:13px;display:block}

#slider .banner{width:265px;position:absolute;display:none; left:660px;top:17px;}
#slider .banner .title1{font-size: 15px; line-height: 19px; color: #8cc503;margin-bottom:12px;}
#slider .banner .title2{font-size: 18px; line-height: 28px; color: #fff;margin-bottom:9px;}
.banner .title1, .banner .title2{text-transform:uppercase;font-family: 'Oswald', sans-serif;}
.banner .but_wrap{position:relative;margin-top:17px;}

 /* .lightbox-image {
	position:relative;
	overflow:hidden;
	display:inline-block;
	}
	.lightbox-image img {
		position:relative;
		}
	.lightbox-image span {
		display:block;
		position:absolute;
		left:0;
		cursor:pointer;
		top:0;
		width:92px;
		height:92px;
		background:url(../images/magnify.png) no-repeat 50% 50% #fff;
		} */